<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dashboard - Find My Inventory</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="{% static 'main/css/style.default.css' %}" rel="stylesheet">
        <link href="{% static 'main/css/morris.css' %}" rel="stylesheet">
        <link href="{% static 'main/css/select2.css' %}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <header>
            <div class="headerwrapper">
                <div class="header-left">
                    <a href="/" class="logo">
                        <img src="{% static 'main/images/logo.png' %}" alt="" /> 
                    </a>
                    <div class="pull-right">
                        <a href="" class="menu-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div><!-- header-left -->
                
                <div class="header-right">
                    
                    <div class="pull-right">
                        
                        <form class="form form-search" action="search-results.html">
                            <input type="search" class="form-control" placeholder="Search" />
                        </form>
                        
                        <div class="btn-group btn-group-list btn-group-notification">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-bell-o"></i>
                              <span class="badge">0</span>
                            </button>
                            <div class="dropdown-menu pull-right">
                                <a href="" class="link-right"><i class="fa fa-search"></i></a>
                                <h5>Notification</h5>
                                <ul class="media-list dropdown-list">
                                    <li class="media">
                                        <img class="img-circle pull-left noti-thumb" src="{% static 'main/images/checkmark.png' %}" alt="">
                                        <div class="media-body">
                                          <strong>You're All Caught Up</strong>
                                          <small class="date"><i class="fa fa-thumbs-up"></i> 0 minutes ago</small>
                                        </div>
                                    </li>
                                </ul>
                                <div class="dropdown-footer text-center">
                                    <a href="" class="link">See All Notifications</a>
                                </div>
                            </div><!-- dropdown-menu -->
                        </div><!-- btn-group -->
                        
                        <div class="btn-group btn-group-option">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                              <li><a href="/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                              <li><a href="/settings"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                              {% if user.user_rights == "company_administrator" %}
                              <li><a href="/companysettings"><i class="glyphicon glyphicon-cog"></i> Company Settings</a></li>
                              <li><a href="/adminsettings"><i class="glyphicon glyphicon-cog"></i> Administrator Settings</a></li>
                              {% elif user.user_rights == "administrator" %}
                              <li><a href="/adminsettings"><i class="glyphicon glyphicon-cog"></i> Administrator Settings</a></li>
                              {% endif %}                          
                              <li><a href="/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                              <li class="divider"></li>
                              <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                            </ul>
                        </div><!-- btn-group -->
                        
                    </div><!-- pull-right -->
                    
                </div><!-- header-right -->
                
            </div><!-- headerwrapper -->
        </header>
        
        <section>
            <div class="mainwrapper">
                <div class="leftpanel">
                    <div class="media profile-left">
                        <a class="pull-left profile-thumb" href="/profile">
                            <img class="img-circle" src="{% static 'main/images/photos/default_profile.png' %}" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{user.first_name}} {{user.last_name}}</h4>
                            <small class="text-muted">{{user.company.company_name}}</small>
                        </div>
                    </div><!-- media -->
                    
                    <h5 class="leftpanel-title">Navigation</h5>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                        <li class="parent"><a href=""><i class="fas fa-microchip"></i> <span>Hardware Inventory</span></a>
                            <ul class="children">
                                <li><a href="/checkedout/laptops"><i class="fa fa-laptop"></i> <span>&nbsp; Laptops</span></a></li>
                                <li><a href="/checkedout/desktops"><i class="fa fa-desktop"></i> <span>&nbsp; Desktops</span></a></li>
                                <li><a href="/checkedout/servers"><i class="fas fa-server"></i> <span>&nbsp; Servers</span></a></li>
                                <li><a href="/checkedout/accesspoints"><i class="fas fa-wifi"></i> <span>&nbsp; Access Points</span></a></li>
                                <li><a href="/checkedout/routers"><i class="fas fa-ethernet"></i> <span>&nbsp; Routers</span></a></li>
                                <li><a href="/checkedout/switches"><i class="fas fa-network-wired"></i> <span>&nbsp; Switches</span></a></li>
                                <li><a href="/checkedout/asas"><i class="fas fa-user-shield"></i> <span>&nbsp; ASAs</span></a></li>
                                <li><a href="/checkedout/paloaltos"><i class="fas fa-user-shield"></i> <span>&nbsp; Palo Altos</span></a></li>
                                <li><a href="/checkedout/junipers"><i class="fas fa-user-shield"></i> <span>&nbsp; Junipers</span></a></li>
                                <li><a href="/checkedout/wifiadapter"><i class="fas fa-wifi"></i> <span>&nbsp; Wifi Adapters</span></a></li>
                                <li><a href="/checkedout/ssd"><i class="fas fa-hdd"></i> <span>&nbsp; SSDs</span></a></li>
                            </ul>
                        </li>

                        <li class="parent"><a href=""><i class="fa fa-download"></i> <span>Software Inventory</span></a>
                            <ul class="children">
                                
                                <li><a href=""><i class="fa fa-windows"></i> <span>&nbsp; Windows Product Keys</span></a></li>
                                <li><a href=""><i class="fa fa-windows"></i> <span>&nbsp; Office Product Keys</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent"><a href=""><i class="fas fa-landmark"></i> <span>Checked Out Inventory</span></a>
                            <ul class="children">
                                <li><a href="/checkedout/laptops"><i class="fa fa-laptop"></i> <span>&nbsp; Laptops</span></a></li>
                                <li><a href="/checkedout/desktops"><i class="fa fa-desktop"></i> <span>&nbsp; Desktops</span></a></li>
                                <li><a href="/checkedout/servers"><i class="fas fa-server"></i> <span>&nbsp; Servers</span></a></li>
                                <li><a href="/checkedout/accesspoints"><i class="fas fa-wifi"></i> <span>&nbsp; Access Points</span></a></li>
                                <li><a href="/checkedout/routers"><i class="fas fa-ethernet"></i> <span>&nbsp; Routers</span></a></li>
                                <li><a href="/checkedout/switches"><i class="fas fa-network-wired"></i> <span>&nbsp; Switches</span></a></li>
                                <li><a href="/checkedout/asas"><i class="fas fa-user-shield"></i> <span>&nbsp; ASAs</span></a></li>
                                <li><a href="/checkedout/paloaltos"><i class="fas fa-user-shield"></i> <span>&nbsp; Palo Altos</span></a></li>
                                <li><a href="/checkedout/junipers"><i class="fas fa-user-shield"></i> <span>&nbsp; Junipers</span></a></li>
                                <li><a href="/checkedout/wifiadapter"><i class="fas fa-wifi"></i> <span>&nbsp; Wifi Adapters</span></a></li>
                                <li><a href="/checkedout/ssd"><i class="fas fa-hdd"></i> <span>&nbsp; SSDs</span></a></li>
                            </ul>
                        </li> 
                    </ul>
                    
                </div><!-- leftpanel -->
                
                <div class="mainpanel">
                    <div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                                    <li>Dashboard</li>
                                </ul>
                                <h4>Dashboard</h4>
                            </div>
                        </div><!-- media -->
                    </div><!-- pageheader -->
                    
                    <div class="contentpanel">
                        
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Laptops</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->

                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Desktops</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                                
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Servers</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->

                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">SSDs</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                            </div><!-- col-sm-6 -->
                            
                            <div class="col-sm-6 col-md-4">
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Access Points</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                                
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Routers</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->

                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Switches</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->

                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Wifi Adapters</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                            </div><!-- col-sm-6 -->
                            
                            <div class="col-sm-6 col-md-4">
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">ASAs</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                                
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Palo Altos</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
                                
                                <div class="panel panel-primary widget-messaging">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="" class="new-msg"><i class="fa fa-edit"></i></a>
                                        </div><!-- pull-right -->
                                        <h3 class="panel-title">Junipers</h3>
                                    </div>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 10</small>
                                            <h3 class="sender">Active</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Stored</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="pull-right">Dec 9</small>
                                            <h3 class="sender">Checked-Out</h3>
                                    </ul>
                                </div><!-- panel -->
          
                            </div><!-- col-sm-6 -->
                            
                        </div><!-- row -->
                        
                    </div><!-- contentpanel -->
                    
                </div><!-- mainpanel -->
            </div><!-- mainwrapper -->
        </section>


        <script src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-migrate-1.2.1.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/modernizr.min.js' %}"></script>
        <script src="{% static 'main/js/pace.min.js' %}"></script>
        <script src="{% static 'main/js/retina.min.js' %}"></script>
        <script src="{% static 'main/js/jquery.cookies.js' %}"></script>
        
        <script src="{% static 'main/js/flot/jquery.flot.min.js' %}"></script>
        <script src="{% static 'main/js/flot/jquery.flot.resize.min.js' %}"></script>
        <script src="{% static 'main/js/flot/jquery.flot.spline.min.js' %}"></script>
        <script src="{% static 'main/js/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'main/js/morris.min.js' %}"></script>
        <script src="{% static 'main/js/raphael-2.1.0.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap-wizard.min.js' %}"></script>
        <script src="{% static 'main/js/select2.min.js' %}"></script>

        <script src="{% static 'main/js/custom.js' %}"></script>
        <script src="{% static 'main/js/dashboard.js' %}"></script>

    </body>
</html>
